body {
    background-color: #808080;
}
#container {
    width: 1200px;
    height: 750px;
    margin: auto;
}
#header {
    width: 1200px;
    height: 20px;
    background-color: #D3D3D3;
    text-align: center;
}
#controls {
    padding-left: 10px;
    width: 190px;
    height: 750px;
    background-color: #D3D3D3;
    float:left;
}
#canvas {
    width: 1000px;
    height: 750px;
    background-color: #ffffff;
    float:right;
}
.colorInput {
    width: 50px;
}
.dot {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    position: relative;
}
.hidden {
    visibility: hidden;
}
.visible {
    visibility: visible;
}